* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    transition: 0.3s;
}

.container {
    width: 70%;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

textarea {
    resize: vertical;
    height: 100px;
}

.buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

button {
    flex: 1;
    padding: 12px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* CV OUTPUT */

#cvOutput {
   width: 794px;              /* A4 width */
    min-height: 1123px;        /* A4 height */
    margin: 20px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);

    overflow: hidden;
}

#cvOutput h1 {
     font-size: 28px;
    margin: 8px 0;
}

#cvOutput h2 {
   font-size: 15px;
    margin-top: 14px;
    margin-bottom: 6px;
    border-bottom: 1px solid #007bff;
    padding-bottom: 3px;
}

#cvOutput p {
   font-size: 12px;
    line-height: 1.4;
    margin-bottom: 6px;
}

/* PROFILE IMAGE */

.profile-img {
     width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* DARK MODE */

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .container,
.dark-mode #cvOutput {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode input,
.dark-mode textarea {
    background-color: #2b2b2b;
    color: white;
    border: 1px solid #555;
}

.dark-mode h2 {
    color: white;
}

/* PRINT */

@media print {

    .container {
        display: none;
    }

    body {
        background: white;
    }

    #cvOutput {
        width: 100%;
        margin: 0;
        box-shadow: none;
        border-radius: 0;
    }
}

/* RESPONSIVE */

@media(max-width: 768px) {

    .container,
    #cvOutput {
        width: 100%;
    }

    .buttons {
        flex-direction: column;
    }
}